header {
    background-color: #2f8fa7;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    background: linear-gradient(to right, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
    border-radius: 22px 22px 22px 22px;
    -moz-border-radius: 22px 22px 22px 22px;
    -webkit-border-radius: 22px 22px 22px 22px;
    border: 0px hidden #000000;
    -webkit-box-shadow: 0px 0px 11px 1px rgba(16,82,94,1);
-moz-box-shadow: 0px 0px 11px 1px rgba(16,82,94,1);
box-shadow: 0px 0px 11px 1px rgba(16,82,94,1);
}

img {
    width: 950px;
    height: 550px;
    object-fit: contain;
    
}

ul {
    background-color: rgb(109, 109, 109);
    padding-block: 50PX;
}

.DATOS * {
    display: flex;
    justify-content: space-around;
    align-content: center;
    box-shadow: 10px 10px 30px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 30px -2px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 30px -2px rgba(0,0,0,0.75);
    border-radius: 22px 22px 22px 22px;
    -moz-border-radius: 22px 22px 22px 22px;
    -webkit-border-radius: 22px 22px 22px 22px;
    border: 0px hidden #000000;
    background: linear-gradient(to right, rgba(150,150,150,1) 0%, rgba(150,150,150,1) 18%, rgba(145,145,145,1) 42%, rgba(142,142,142,1) 49%, rgba(138,138,138,1) 57%, rgba(168,168,168,1) 85%);
}

    .DatosD {
        text-decoration: none;
        color: #ffffff;
    }

